@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-image: url('./assets/wallpaperflare.com_wallpaper.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    }
      

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  
}

.navbar {
  height: 60px;
  background-color: #fef7e5;
  position: relative;
}
.logo{
    color: #111;
    margin-left: 0%;
}


.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 400;
  color: #2f234f;
  text-decoration: none;
}

.nav-elements ul a.active {
  color: #574c4c;
  font-weight: 500;
  position: relative;
}

.nav-elements ul a.active::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #574c4c;
}

.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: rgb(3, 73, 3);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
  offset: 3s;
}
.hamburger:hover {
  background-color: #fff;
}
/* media quiries */
/* this displays the hamburger icon */
@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
   
  }

}
/* this hides the ul element in navigation-menu */
@media screen and (max-width: 768px) {
  .navigation-menu ul {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .navigation-menu ul {
    position: absolute;
    top: 60px;
    left: 0; 
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 77px);
    background-color: white;
    border-top: 1px solid black;
  }
  .navigation-menu li {
    text-align: center;
    margin: 0;
  }
  .navigation-menu li a {
    color: black;
    width: 100%;
    padding: 1.5rem 0;
  }
  .navigation-menu li:hover {
    background-color: #eee;
  }
}
@media screen and (max-width: 768px) {
  .navigation-menu ul {
    
    display:  none;
  }
}

@media screen and (max-width: 768px) {
  .navigation-menu.expanded ul {
    display: block;
  }
}



/* HomePage.css */
.home {
  flex-direction: column; /* Stack elements vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center; 
  }

  .welcome-text h1{
    font-size: 24px; 
    
  }

  .box-container {
    display: flex; /* Display boxes in a row */
  }

  
  .box {
    width: 250px;
    height: 150px;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    margin: 50px;
    flex-direction: column;
    border: 1px solid #000;
  
  }

  

  
.line {
  width: 100%;
  margin: 5px 0; /* Add margin to create space between lines */
  border: 1px solid #fff; /* Style the horizontal lines */

}

.box-title{

  font-size: large;
}

 .box-content {
    height: auto;
    flex-grow: 1;
    font-size: medium;
  }
  
  .maroon {
    background-color: maroon;
    color: #b1afaf;
    border-radius: 5%;
    
  }
  
  .dark-green {
    background-color: rgb(3, 73, 3);
    color: #b1afaf;
    border-radius: 5%;
   

  }
  /*-----------------------------------------------------------  */

.shop {
    height: 115vh;
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
    color: #111;
    text-align: center;
    font: 20px cookie, cursive;
}



   :root {
    --wesbos: #ffc600;
  }
  .menu {
    display: none;
  }
  .menu--is-visible {
    display: grid;
  }
  @media (min-width: 768px) {
    .menu {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 80px;
   }
  }
  .item__header {
    display: flex;
    align-items: baseline;
  }
  .item__title {
    font: 35px cookie, cursive;
    color: var(--wesbos);
    letter-spacing: 2px;
    margin: 0;
  }
  .item__dots {
    flex: 1;
    border-bottom: 1px dashed #aaa;
    margin: 0 15px;
  }
  .item__price {
    color: var(--wesbos);
    font: 31px cookie, cursive;
  }
  .item__description {
    margin-bottom: 40px;
  }
  .buttons-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 35px;
  }
  @media (min-width: 768px) {
    .buttons-container {
      margin-bottom: 60px;
   }
  }
  .button {
    margin: 5px 15px;
    padding: 10px 20px;
    border: 1px solid var(--wesbos);
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .highlight {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background: var(--wesbos);
    border-radius: 3px;
    z-index: -1;
    transition: 0.24s;
  }
  * {
    box-sizing: border-box;
  }
  
  .wrapper {
    max-width: 1050px;
    margin: 0 auto;
    padding: 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://i.imgur.com/er8DtBW.jpg");
    
  }
  .our-menu h2 {
    display: inline-block;
    border-bottom: 4px solid var(--wesbos);
    margin-top: 0;
    font: 50px cookie, cursive;
  } 
  
  

  /* --------------------end of shop----------------------------- */
  
 
/* AboutPage.css */
  .about {
   height: 115vh;
   color: #111;
   background-color: rgba(255, 255, 255, 0.8); 
   padding: 20px;
   border-radius: 10px;
   text-align: center;
   font: 20px cookie, cursive;

  }

.about-page {
  text-align: center;
}

.about-image {
  margin-top: 20px; /* Adjust the margin as needed */
}

.about-image img {
  height: 30vh;
  width: 30vh;
  display: block;
  margin: 0 auto; /* Center the image horizontally */
}

/* Newsletter */
#newsletter{
  padding:15px;
  color:#ffffff;
  background:rgb(3, 73, 3);
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  
}

#newsletter h1{
  float:left;
}

#newsletter form {
  float:right;
  margin-top:15px;
}

#newsletter input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}

#newsletter button, .quote button{
  display:block;
  width:100%;
}

#newsletter form input[type="email"], .quote input, .quote textarea{
  width:100%;
  margin-bottom:5px;
}

.news-container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

.button_1{
  height:38px;
  background:#fda40b;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}


/* -------------------------------------end of about-------------------------- */
  .contact {
  height: 115vh;
  color: #111;
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font: 20px cookie, cursive;
  }


  section {
    padding: 60px 0;
    min-height: 100vh;
}
.contact-info {
display: inline-block;
width: 100%;
text-align: center;
margin-bottom: 10px;
}
.contact-info-icon {
margin-bottom: 15px;
}
.contact-info-item {
background: rgb(3, 73, 3);
padding: 30px 0px;
}
.contact-page-sec .contact-page-form h2 {
color: rgb(3, 73, 3);
text-transform: capitalize;
font-size: 22px;
font-weight: 700;
}
.contact-page-form .col-md-6.col-sm-6.col-xs-12 {
padding-left: 0;
}  
.contact-page-form.contact-form input {
margin-bottom: 5px;
}  
.contact-page-form.contact-form textarea {
height: 110px;
}
.contact-page-form.contact-form input[type="submit"] {
background: #071c34;
width: 150px;
border-color: #071c34;
}
.contact-info-icon i {
font-size: 48px;
color: #fda40b;
}
.contact-info-text p{margin-bottom:0px;}
.contact-info-text h2 {
color: #fff;
font-size: 22px;
text-transform: capitalize;
font-weight: 600;
margin-bottom: 10px;
}
.contact-info-text span {
color: #999999;
font-size: 16px;

display: inline-block;
width: 100%;
}

.contact-page-form input {
background: #f9f9f9 none repeat scroll 0 0;
border: 1px solid #f9f9f9;
margin-bottom: 20px;
padding: 12px 16px;
width: 100%;
border-radius: 4px;
}

.contact-page-form .message-input {
display: inline-block;
width: 100%;
padding-left: 0;
}
.single-input-field textarea {
background: #f9f9f9 none repeat scroll 0 0;
border: 1px solid #f9f9f9;
width: 100%;
height: 120px;
padding: 12px 16px;
border-radius: 4px;
}
.single-input-fieldsbtn input[type="submit"] {
background: #fda40b none repeat scroll 0 0;
color: #fff;
display: inline-block;
font-weight: 600;
padding: 10px 0;
text-transform: capitalize;
width: 150px;
margin-top: 20px;
font-size: 16px;
}
.single-input-fieldsbtn input[type="submit"]:hover{background:#071c34;transition: all 0.4s ease-in-out 0s;border-color:#071c34}
.single-input-field  h4 {
color: #464646;
text-transform: capitalize;
font-size: 14px;
}
.contact-page-form {
display: inline-block;
width: 100%;
margin-top: 30px;
}

.contact-page-map {
margin-top: 36px;
}
.contact-page-form form {
padding: 20px 15px 0;
}

/* --------------------------------------------------------------------- */

.scroll-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 999;
}

.scroll-to-top-button.visible {
  opacity: 1;
}

.scroll-to-top-button button {
  background-color: rgb(3, 73, 3);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 24px;
  cursor: pointer;
}

.scroll-to-top-button button:hover {
  background-color: rgb(22, 128, 22);
}



